body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Contenedor del logo */
.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Logo más pequeño */
.logo {
  width: 10px;
  height: 10px;
}

/* Formulario de login */
.login-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  box-sizing: border-box;
}

/* Título del formulario */
.login-form h1 {
  margin-bottom: 20px;
  color: #333333;
}

/* Grupo de entrada */
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo del botón */
button {
  background-color: #f78b2d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e67c22;
}

/* Medias Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  /* Ajustar el logo */
  .logo {
      max-width: 60px;
      max-height: 60px;
  }

  /* Hacer que el formulario ocupe más ancho */
  .login-form {
      width: 250px;
      padding: 15px;
  }
}

@media (max-width: 480px) {
  /* Ajustar aún más el logo */
  .logo {
      max-width: 50px;
      max-height: 50px;
  }

  /* El formulario se ajusta aún más en pantallas muy pequeñas */
  .login-form {
      width: 200px;
      padding: 10px;
  }

  /* Reducir el tamaño de los campos de entrada y el botón */
  .input-group input {
    font-size: 14px;
}

button {
    font-size: 14px;
}

}